:root {
  --clr-pri-orange: hsl(25, 97%, 53%);

  --clr-very-dark-blue-hsl: 216, 12%, 8%;

  --clr-neu-white: hsl(0, 0%, 100%);
  --clr-light-grey: hsl(217, 12%, 63%);
  --clr-medium-grey: hsl(216, 12%, 54%);
  --clr-dark-blue: hsl(213, 19%, 18%);
  --clr-very-dark-blue: hsl(216, 12%, 8%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font: inherit;
  font-family: "Overpass", sans-serif;
}

img,
svg {
  display: block;
  max-width: 100%;
}

body {
  background-color: var(--clr-very-dark-blue);

  height: 100vh;
  display: grid;
  place-items: center;
}

.rating-container,
.thank-you-container {
  max-width: 90%;
  background-color: var(--clr-dark-blue);
  color: var(--clr-neu-white);
  padding: 2rem 1.25rem;
  border-radius: 0.5rem;
  min-height: 400px;
}

.star-container {
  background-color: hsla(var(--clr-very-dark-blue-hsl), 0.3);

  display: grid;
  place-items: center;
  width: 48px;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  margin-bottom: 1rem;
}

h1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

p {
  font-size: 15px;
  color: var(--clr-light-grey);
  margin-bottom: 1.5rem;
  line-height: 1.5rem;
}

.rating-choices-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1.5rem;
  gap: 0.25rem;
  position: relative;
}

[type="radio"] {
  opacity: 0;
  position: absolute;
}

.rating-choices-container label {
  display: grid;
  place-items: center;
  min-width: 60px;
  border-radius: 50%;
  background-color: hsla(var(--clr-very-dark-blue-hsl), 0.3);
  color: var(--clr-light-grey);
  aspect-ratio: 1 / 1;
}

[type="radio"]:checked + label {
  background: var(--clr-pri-orange);
  color: var(--clr-neu-white);
  font-weight: bolder;
}

label:hover {
  cursor: pointer;
  background-color: var(--clr-light-grey);
  color: var(--clr-neu-white);
}

button {
  width: 100%;
  background-color: var(--clr-pri-orange);
  color: var(--clr-neu-white);
  padding: 0.75rem;
  border-radius: 2rem;
  border: 0px;
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 0.15rem;
}

button:hover {
  cursor: pointer;
  background-color: var(--clr-neu-white);
  color: var(--clr-pri-orange);
}

.thank-you-container {
  display: grid;
  place-items: center;
  text-align: center;
}

.thank-you-container svg {
  margin-bottom: 1.5rem;
}

.results-container {
  background-color: var(--clr-very-dark-blue);
  padding: 0.4rem 0.9rem 0.2rem;
  color: var(--clr-pri-orange);
  font-size: 15px;
  opacity: 0.7;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.thank-you-container p {
  margin-bottom: 0;
}

@media (min-width: 500px) {
  .rating-container,
  .thank-you-container {
    max-width: 400px;
    padding: 1.85rem;
  }
}

.inactive {
  display: none;
}
